@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Puritan:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  font-family: "Montserrat";
  font-size: 16px;
  line-height: 1.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat" Condensed;
}

h1 {
  font-size: 20px;
  text-align: center;
}

h2 {
  font-size: 18px;
  text-align: center;
}

h3 {
  font-size: 16px;
  line-height: 1em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

h4 {
  letter-spacing: 0.4px;
  line-height: 1em;
  font-size: 14px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 5px;
  color: black;
}

h4:hover {
  text-decoration: underline;
}

p {
  font-size: 14px;
  line-height: 1.4;
  padding-top: 10px;
}

.fixed-top-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#BBC {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 5px;
}

.BBC_Logo {
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  gap: 10px;
  margin: 5px;
}

.BBC_1,
.BBC_2,
.BBC_3 {
  background-color: black;
  color: white;
  font-weight: bold;
  font-size: 30px;
  width: 1.5em;
  height: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-bar li a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: 1em;
  padding-inline: 5px;
  transition: color 0.3s ease;
}

.nav-bar li:hover {
  background-color: rgb(226, 226, 226);
}

.nav-bar ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  justify-content: center;
  line-height: 2em;
}

.main-hr {
  width: 100%;
  border: none;
  height: 1px;
  background-color: rgb(226, 226, 226);
}

.content-wrapper {
  max-width: 960px;
  width: 90%;
  margin: 0 auto;
  padding-top: 100px;
}

.noticiaPrincipal-container {
  display: flex;
}

.noticiaPrincipal-texto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: flex-start;
}

.noticiaPrincipal-container img {
  width: 600px;
  margin-block: 20px;
}

.separadorContenido {
  width: 100%;
  border: none;
  height: 2px;
  background-color: black;
}
.seeMore-button {
  margin-top: 20px;
}

.seeMore-button button {
  margin-top: 20px;
  background-color: white;
  color: black;
  border: 1.5px solid black;
  font-weight: 600;
  padding: 0.5rem;
}

.seeMore-button button:hover {
  background-color: rgb(39, 39, 39);
  color: white;
  cursor: pointer;
}

section {
  margin-top: 1em;
}

.latestHeadlines {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: 1em;
}

.latestHeadlines-noticia {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: flex-start;
  flex: 1;
  max-width: 200px;
}

.latestHeadlines-noticia a {
  text-decoration: none;
  color: black;
}

.latestHeadlines-noticia p {
  font-size: 10px;
  padding-top: 20px;
  line-height: 1em;
}

.watchList-global {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  margin-bottom: 1em;
}

.watchList-individual {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-width: 300px;
}
.watchList-individual img {
  width: 100%;
  height: auto;
  display: block;
}

.watchList-individual a {
  text-decoration: none;
  color: black;
}

.watchList-individual p.horaSeccion {
  font-size: 10px;
  padding-top: 20px;
  line-height: 1em;
}

.extraNews {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: start;
  align-items: start;
  gap: 20px;
}

.extraNews img {
  width: 100%;
  height: auto;
  display: block;
}

.extraNews a {
  text-decoration: none;
}

.extraNews p.horaSeccion {
  font-size: 10px;
  padding-top: 20px;
  line-height: 1em;
}

.footer {
  color: white;
  background-color: black;
}

.footer a {
  text-decoration: none;
}

.BBC_Logo2 {
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  gap: 10px;
  margin-top: 5px;
  flex-direction: row;
  align-items: center;
  max-width: 960px;
  width: 90%;
  margin: 0 auto;
}

.BBC_4,
.BBC_5,
.BBC_6 {
  background-color: white;
  color: black;
  font-weight: bold;
  font-size: 16px;
  width: 1.5em;
  height: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.nav-bar2 li a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 12px;
  padding-inline: 5px;
  transition: color 0.3s ease;
}

.nav-bar2 li:hover {
  background-color: white;
}

.nav-bar2 li:hover a {
  color: black;
}

.nav-bar2 ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: flex-start;
  line-height: 2em;
  max-width: 960px;
  width: 90%;
  margin: 0 auto;
}

.footer p {
  max-width: 960px;
  width: 90%;
  margin: 0 auto;
  font-size: 10px;
}

/* Inspiration: https://www.bbc.com/culture/film-tv */
